RewriteEngine on
# Redireccionar a HTTPS
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:CDN-LOOP} !cloudflare
RewriteCond %{REQUEST_URI} !^/.well-known/acme-challenge/
RewriteCond %{HTTP_HOST} ^(www\.)?codificar\.net\.ar
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,QSA]
# Redireccionar a WhatsApp
RewriteCond %{HTTP_HOST} ^bot.codificardev.com.ar [OR]
RewriteCond %{HTTP_HOST} ^www.bot.codificardev.com.ar$
RewriteRule ^(.*)$ http://wa.me/543883114589 [R=301,L]
# Reescritura de URL
RewriteCond %{HTTP_HOST} ^qr.codificardev.com.ar [OR]
RewriteCond %{HTTP_HOST} ^www.qr.codificardev.com.ar$
RewriteCond %{REQUEST_URI} !^/index\.php
# Excluir /privacidad de la reescritura
RewriteCond %{REQUEST_URI} !^/privacidad
RewriteRule ^(.*)$ /index.php/$1 [L]
RewriteRule ^privacidad$ index.php/privacidad [L]
RewriteRule ^chatbots$ index.php/chatbots [L]
RewriteCond %{HTTP_HOST} ^convocatorias.codificardev.com.ar [OR]
RewriteCond %{HTTP_HOST} ^www.convocatorias.codificardev.com.ar$
RewriteRule ^(.*)$ https://tally.so/r/w5kVlE [R=301,L]
